<div class="modal-header">
  <h4 class="modal-title">ConfigComponent</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <form>
    <div class="mb-3">
      <label for="clientId" class="form-label">Client-ID</label>
      <input type="text" class="form-control" id="clientId" name="clientId" [(ngModel)]="config.clientId">
    </div>
    <div class="mb-3">
      <label for="clientSecret" class="form-label">Client-Secret</label>
      <input type="password" class="form-control" id="clientSecret" name="clientSecret" [(ngModel)]="config.clientSecret">
    </div>
    <div class="mb-3">
      <label for="namespace" class="form-label">Namespace</label>
      <input type="text" class="form-control" id="namespace" name="namespace" [(ngModel)]="document.namespace">
    </div>
    <div class="mb-3">
      <label for="baseUrl" class="form-label">Base-URL</label>
      <input type="text" class="form-control" id="baseUrl" name="baseUrl" [(ngModel)]="document.baseUrl">
    </div>
    <div class="mb-3">
      <label for="targetFolder" class="form-label">Target folder</label>
      <div class="input-group">
        <input type="text" class="form-control" id="targetFolder" name="targetFolder" [readonly]="true" [disabled]="true" [(ngModel)]="document.targetFolder">
        <button type="button" class="btn btn-secondary" (click)="chooseFolder()" title="Select folder"><i class="bi bi-folder2-open"></i></button>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="doSave()">Save</button>
</div>
